.new {
  flex: 4;
  padding: 30px;
  padding-bottom: 20px;

  &__form {
    margin-top: 10px;
    display: flex;
    position: relative;

    &__item {
      width: 35%;
      display: flex;
      flex-direction: column;
      margin-right: 30px;

      &__detail {
        margin-bottom: 30px;
        &__title {
          color: gray;
          font-weight: 600;
          font-size: 25px;
          display: flex;
          flex-direction: column;
        }

        &__input {
          width: 100%;
          border: 1px solid gray;
        }

        &__description {
          width: 100%;
          border: 1px solid gray;
          height: 200px;
        }
      }
    }

    &__design {
      width: 30%;
      margin-right: 20px;

      &__detail {
        margin-bottom: 30px;
        &__title {
          color: gray;
          font-weight: 600;
          font-size: 25px;
          margin-bottom: 10px;
          display: flex;
          flex-direction: column;
        }
      }
    }

    &__image {
      &__item {
        display: flex;
        margin-bottom: 30px;
      }
      &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 10px;

        &__icon {
          cursor: pointer;
        }
      }
    }

    &__btnBox {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      border: none;
      padding-bottom: 20px;

      &__btnCreate {
        height: 70px;
        background-color: green !important;

        border: none;
        color: white;
        font-weight: 600;
        font-size: 30px;
        cursor: pointer;
        &:hover {
          background-color: green;
          color: white;
        }
      }
      &__btnCancel {
        height: 70px;
        width: 120px !important;
        background-color: gray;
        margin-right: 10px;

        border: none;
        color: white;
        font-weight: 600;
        font-size: 30px;
        cursor: pointer;
        &:hover {
          background-color: gray;
          color: white;
        }
      }
    }
  }
}
