.sidebar {

    height: calc(100vh - 50px);
    background-color: rgb(241, 241, 245);
    position: sticky;
    width: 300px;
    top: 50px;
  }
  
  .sidebarWrapper {
    padding: 20px;
    color: #555;
    padding-right: 0px;
  }
  
  .sidebarMenu {
    margin-bottom: 10px;
  }
  
  .sidebarTitle {
    font-size: 17px;
    color: rgb(16, 87, 31);
    font-size: 24px;

  }
  
  .sidebarList {
    list-style: none;
    padding: 5px;
  }
  
  .sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .sidebarListItem.active,
  .sidebarListItem:hover {
    background-color: rgb(190, 233, 208);
  }
  
  .sidebarIcon{
      margin-right: 5px;
      font-size: 20px !important;
  }